body{
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 0;
}

.featurette-divider {
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: white;
}


/*  ======= NAV =============*/

nav.navbar-transparente{
    padding: 10px;
    background: rgba(2, 31, 78, 0.8);

    position: fixed;
}

.top-background{
    width: 100%;
    height: 60px;
    background-color: rgba(2, 31, 78, 0.8);   
    /*position: fixed;
    top: 0;    */
}


/* ======  Content  ================*/
.First_Title{
    text-align: center; 
    margin-bottom: 45px;
}

.company-name{
    font-weight: bold;
    color: grey;
    font-size: 1.2em;
}

.featurette{
    margin-top: 30px;
}


/* ===========   FORMATION  ================*/
#formation-title{
    margin-bottom: .5rem;
    /*font-family: inherit;*/
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 3em;    
    margin-top: 60px;
    color: red;
}


/*------------  footer  ----------*/
.footer-style{
    margin: 0px 10px 0;
    padding-bottom:3rem;
    /*background-color: white;*/
}

.social-network{
    float: right;
    height: 50px;
    width: 50px;
    margin: 0 20px;
    background: transparent;
}

#timeheader {
    margin-top:3rem;
}

/*----------------  Media Queries  --------------------*/
@media only screen and (max-width: 767px) {
    .grad1 {
        background-color: white;
    } 

    #footer-icons{
        /*padding: auto;*/
        /*display: block;*/
        /*margin:auto;*/
        margin:0 auto;
        margin-bottom: 20px;
        display: inline-block;
        /*text-align: center;*/
    }

    .footer-icons{
        display:inline;
        /*margin:auto;*/
        /*text-align: center;*/
    }

    #footer-message{
        margin:auto; 
        text-align: center;
    }

}

@media only screen and (min-width: 768px) {
    
    .grad1 {
        /* For Safari 5.1 to 6.0 */
        background: -webkit-linear-gradient(to right, white 46%, rgba(2, 31, 78, 0.5), white 54%);
        /* For Opera 11.1 to 12.0 */
        background: -o-linear-gradient(to right, white 46%, rgba(2, 31, 78, 0.5), white 54%);;
        /*For Firefox 3.6 to 15 */
        background: -moz-linear-gradient(to right, white 46%, rgba(2, 31, 78, 0.5), white 54%);  
        /* Standard syntax (must be last) */
        background: linear-gradient(to right, white 46%, rgba(2, 31, 78, 0.5), white 54%);
    } 

    #footer-icons{
        float: left;
    }

    #footer-message{
        margin:auto; 
        text-align: right;
    }
}


/*-----------------  TYPOGRAPHY  ----------------*/

